In [1]:
import pandas as pd
import numpy as np

In [3]:
atp_matches_2017 = pd.read_csv("atp_matches_2017.csv")
atp_matches_2018 = pd.read_csv("atp_matches_2018.csv")

In [4]:
atp_matches_2017.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2017-M020,Brisbane,Hard,32,A,20170102,300,105777,7.0,NaN,...,7.0,4.0,0.0,69.0,49.0,36.0,9.0,12.0,2.0,5.0
1,2017-M020,Brisbane,Hard,32,A,20170102,299,105777,7.0,NaN,...,0.0,4.0,3.0,61.0,28.0,24.0,16.0,10.0,2.0,4.0
2,2017-M020,Brisbane,Hard,32,A,20170102,298,105453,3.0,NaN,...,5.0,9.0,2.0,61.0,37.0,27.0,10.0,10.0,0.0,2.0
3,2017-M020,Brisbane,Hard,32,A,20170102,297,105683,1.0,NaN,...,7.0,4.0,0.0,84.0,61.0,39.0,14.0,14.0,2.0,4.0
4,2017-M020,Brisbane,Hard,32,A,20170102,296,105777,7.0,NaN,...,14.0,6.0,5.0,82.0,37.0,29.0,24.0,14.0,4.0,7.0

In [13]:
atp_matches_2017_left = atp_matches_2017[['surface','draw_size','tourney_level','match_num',
                                        'winner_hand','winner_ht','winner_ioc','winner_age','winner_rank','winner_rank_points',
                                        'loser_hand','loser_ht','loser_ioc','loser_age','loser_rank','loser_rank_points']]
atp_matches_2017_left.columns = ['surface','draw_size','tourney_level','match_num',
                                'left_hand','left_ht','left_ioc','left_age','left_rank','left_rank_points',
                                'right_hand','right_ht','right_ioc','right_age','right_rank','right_rank_points']
atp_matches_2017_left['result'] = 1
atp_matches_2017_left.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,surface,draw_size,tourney_level,match_num,left_hand,left_ht,left_ioc,left_age,left_rank,left_rank_points,right_hand,right_ht,right_ioc,right_age,right_rank,right_rank_points,result
0,Hard,32,A,300,R,188.0,BUL,25.634497,17.0,2035.0,R,178.0,JPN,27.011636,5.0,4905.0,1
1,Hard,32,A,299,R,188.0,BUL,25.634497,17.0,2035.0,R,196.0,CAN,26.017796,3.0,5450.0,1
2,Hard,32,A,298,R,178.0,JPN,27.011636,5.0,4905.0,R,183.0,SUI,31.767283,4.0,5315.0,1
3,Hard,32,A,297,R,196.0,CAN,26.017796,3.0,5450.0,L,185.0,ESP,30.584531,9.0,3300.0,1
4,Hard,32,A,296,R,188.0,BUL,25.634497,17.0,2035.0,R,185.0,AUT,23.331964,8.0,3415.0,1

In [12]:
atp_matches_2017_right = atp_matches_2017[['surface','draw_size','tourney_level','match_num',
                                          'loser_hand','loser_ht','loser_ioc','loser_age','loser_rank','loser_rank_points',
                                          'winner_hand','winner_ht','winner_ioc','winner_age','winner_rank','winner_rank_points']]
atp_matches_2017_right.columns = ['surface','draw_size','tourney_level','match_num',
                                'left_hand','left_ht','left_ioc','left_age','left_rank','left_rank_points',
                                'right_hand','right_ht','right_ioc','right_age','right_rank','right_rank_points']
atp_matches_2017_right['result'] = 0
atp_matches_2017_right.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,surface,draw_size,tourney_level,match_num,left_hand,left_ht,left_ioc,left_age,left_rank,left_rank_points,right_hand,right_ht,right_ioc,right_age,right_rank,right_rank_points,result
0,Hard,32,A,300,R,178.0,JPN,27.011636,5.0,4905.0,R,188.0,BUL,25.634497,17.0,2035.0,0
1,Hard,32,A,299,R,196.0,CAN,26.017796,3.0,5450.0,R,188.0,BUL,25.634497,17.0,2035.0,0
2,Hard,32,A,298,R,183.0,SUI,31.767283,4.0,5315.0,R,178.0,JPN,27.011636,5.0,4905.0,0
3,Hard,32,A,297,L,185.0,ESP,30.584531,9.0,3300.0,R,196.0,CAN,26.017796,3.0,5450.0,0
4,Hard,32,A,296,R,185.0,AUT,23.331964,8.0,3415.0,R,188.0,BUL,25.634497,17.0,2035.0,0

In [27]:
data_prepared = pd.concat([atp_matches_2017_left,atp_matches_2017_right]).reset_index().drop(['index'],axis=1).dropna()
data_prepared.head()

,surface,draw_size,tourney_level,match_num,left_hand,left_ht,left_ioc,left_age,left_rank,left_rank_points,right_hand,right_ht,right_ioc,right_age,right_rank,right_rank_points,result
0,Hard,32,A,300,R,188.0,BUL,25.634497,17.0,2035.0,R,178.0,JPN,27.011636,5.0,4905.0,1
1,Hard,32,A,299,R,188.0,BUL,25.634497,17.0,2035.0,R,196.0,CAN,26.017796,3.0,5450.0,1
2,Hard,32,A,298,R,178.0,JPN,27.011636,5.0,4905.0,R,183.0,SUI,31.767283,4.0,5315.0,1
3,Hard,32,A,297,R,196.0,CAN,26.017796,3.0,5450.0,L,185.0,ESP,30.584531,9.0,3300.0,1
4,Hard,32,A,296,R,188.0,BUL,25.634497,17.0,2035.0,R,185.0,AUT,23.331964,8.0,3415.0,1

In [49]:
data_new = pd.get_dummies(data_prepared.drop(['surface','tourney_level','left_ioc','right_ioc'],axis=1))
data_new.head()

,draw_size,match_num,left_ht,left_age,left_rank,left_rank_points,right_ht,right_age,right_rank,right_rank_points,result,left_hand_L,left_hand_R,right_hand_L,right_hand_R
0,32,300,188.0,25.634497,17.0,2035.0,178.0,27.011636,5.0,4905.0,1,0,1,0,1
1,32,299,188.0,25.634497,17.0,2035.0,196.0,26.017796,3.0,5450.0,1,0,1,0,1
2,32,298,178.0,27.011636,5.0,4905.0,183.0,31.767283,4.0,5315.0,1,0,1,0,1
3,32,297,196.0,26.017796,3.0,5450.0,185.0,30.584531,9.0,3300.0,1,0,1,1,0
4,32,296,188.0,25.634497,17.0,2035.0,185.0,23.331964,8.0,3415.0,1,0,1,0,1

In [53]:
data_new['ht'] = data_new['left_ht'] - data_new['right_ht']
data_new['age'] = data_new['left_age'] - data_new['right_age']
data_new['rank'] = data_new['left_rank'] - data_new['right_rank']
data_new['rank_points'] = data_new['left_rank_points'] - data_new['right_rank_points']
data_new['hand_L'] = data_new['left_hand_L'] - data_new['right_hand_L']
data_new['hand_R'] = data_new['left_hand_R'] - data_new['right_hand_R']
data_new2 = data_new[['ht','age','rank','rank_points','hand_L','hand_R','result']].dropna()
data_new2.head()

     ht       age  rank  rank_points  hand_L  hand_R  result
0  10.0 -1.377139  12.0      -2870.0       0       0       1
1  -8.0 -0.383299  14.0      -3415.0       0       0       1
2  -5.0 -4.755647   1.0       -410.0       0       0       1
3  11.0 -4.566735  -6.0       2150.0     255       1       1
4   3.0  2.302533   9.0      -1380.0       0       0       1

In [28]:
X = pd.get_dummies(data_prepared.drop(['result'],axis=1)) 
y = data_prepared['result']

In [29]:
X.columns

Index(['draw_size', 'match_num', 'left_ht', 'left_age', 'left_rank',
       'left_rank_points', 'right_ht', 'right_age', 'right_rank',
       'right_rank_points',
       ...
       'right_ioc_SRB', 'right_ioc_SUI', 'right_ioc_SVK', 'right_ioc_TPE',
       'right_ioc_TUN', 'right_ioc_TUR', 'right_ioc_UKR', 'right_ioc_URU',
       'right_ioc_USA', 'right_ioc_UZB'],
      dtype='object', length=118)

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [33]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0, solver='lbfgs',multi_class='multinomial').fit(X_train, y_train)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

In [34]:
clf.score(X_train, y_train)

0.6518181818181819

In [35]:
clf.score(X_test, y_test)

0.6429889298892989

In [36]:
clf.coef_

array([[-2.10226443e-05, -1.00648116e-04,  2.72729227e-03,
        -1.90921569e-02, -1.59781604e-03,  1.32074351e-04,
        -1.78672464e-03,  1.31465708e-02,  1.50572129e-03,
        -1.26047951e-04,  2.13948788e-04,  8.29682505e-04,
        -9.86665921e-04, -4.09010132e-05,  1.60156564e-04,
        -1.82377374e-04,  4.02498788e-04, -3.64213619e-04,
         4.20640488e-04, -4.04576129e-04,  6.27796645e-04,
         2.70424194e-04, -2.26251796e-05,  3.75921041e-04,
         2.28918031e-04, -5.15600790e-04,  4.33805328e-04,
        -4.07762340e-04,  1.33492747e-04,  1.38914537e-04,
        -4.56070592e-05,  4.57909057e-04,  3.13275934e-05,
         2.04156407e-04, -4.82059780e-05,  5.86508888e-04,
         2.48527812e-05, -6.16393533e-05, -5.13757653e-04,
         1.62426008e-04,  1.32027554e-05,  6.18860660e-05,
        -3.61926040e-05, -3.66725265e-04,  4.94574753e-06,
        -1.41636489e-05,  2.65530726e-04,  2.61401212e-05,
         3.59924107e-04, -2.77117201e-05, -1.30458903e-05,
        -4.39996009e-05,  7.20601478e-05, -4.36790729e-04,
        -1.95544024e-04,  2.70904590e-06, -6.01522914e-04,
        -5.18390673e-05, -6.20731330e-04,  4.75593490e-04,
        -3.78717637e-04, -2.41687885e-04, -3.83378809e-04,
         7.54669276e-05, -1.06514844e-04,  1.89345770e-04,
        -1.95729224e-05, -5.38565615e-05, -8.78064937e-04,
         8.94129296e-04,  2.78335398e-04, -3.36940525e-04,
         4.17331970e-04, -1.04550086e-03,  7.44110488e-05,
         3.91622996e-04, -9.03411028e-04,  1.81885441e-04,
        -9.13035994e-05,  2.20860198e-04, -3.61832073e-05,
        -6.02194447e-04, -2.77117201e-05,  1.17274226e-04,
         8.60830861e-05, -4.90708804e-04, -5.43617916e-05,
         1.59868365e-04,  3.64755261e-04, -3.88351836e-04,
        -6.10511250e-06, -8.29553061e-05,  9.65607349e-05,
         2.46038944e-04,  9.35145617e-05,  7.08209811e-05,
        -1.42839731e-04,  9.35950171e-05, -1.69181638e-04,
        -5.74240690e-05, -1.08662368e-05,  4.71628118e-05,
        -6.75126155e-05, -1.50750536e-05,  3.80826885e-04,
        -3.79206867e-04,  8.45792675e-04,  0.00000000e+00,
         9.64843211e-04, -4.71731928e-04,  3.51346614e-04,
         2.24218377e-04,  3.71309704e-04, -7.23440663e-05,
         1.11701030e-04, -1.01447404e-04, -4.67553879e-04,
        -1.53183458e-04]])

# Part 2

In [54]:
X = pd.get_dummies(data_new2.drop(['result'],axis=1)) 
y = data_new2['result']

In [55]:
X.columns

Index(['ht', 'age', 'rank', 'rank_points', 'hand_L', 'hand_R'], dtype='object')

In [56]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [57]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0, solver='lbfgs',multi_class='multinomial').fit(X_train, y_train)

In [58]:
clf.score(X_train, y_train)

0.6622727272727272

In [59]:
clf.score(X_test, y_test)

0.6439114391143912